<div class="row mt-5 justify-content-center">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="From"
           class="form-control"
           bsDatepicker
           [bsConfig]="{ isAnimated: true }">
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="To"
           class="form-control"
           bsDatepicker
           [bsConfig]="{ isAnimated: true }">
  </div>
  
</div>


<div class="container-fluid">
<div class="table-responsive">
      
  
    <table class=" table table-striped ">
      <thead>
        <tr>
          <th>ID</th>
          <th>C&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Unique&nbsp;Paid&nbsp;Base</th>
          <th>Total&nbsp;Daily&nbsp;Active&nbsp;Users</th>
          <th>Total&nbsp;Weekly&nbsp;Active&nbsp;Users</th>
          <th>Total&nbsp;Monthly&nbsp;Active&nbsp;Users</th>
          <th>Total&nbsp;EngageBase</th>
          <th>Engagement&nbsp;Rate</th>
          <th>Engage&nbsp;Time</th>
          <th>Total&nbsp;Game&nbsp;Played</th>
          <th>Game&nbsp;Play&nbsp;Rate</th>
          <th>Unique&nbsp;Players</th>
          <th>Total&nbsp;Tournaments</th>
          <th>Action</th>


          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.stats">
          <td>{{item.id}}</td>
          <td>{{item.cDate | date}}</td>
          <td [ngStyle]="{'background-color': (item.totalMonthlyActiveUsers > item.uniquePaidBase) ? '#FFBABA' : ''}">{{item.uniquePaidBase}}</td>
          <td [ngStyle]="{'background-color': (item.totalDailyActiveUsers > item.uniquePlayers) ? '#FFBABA' : ''}">{{item.totalDailyActiveUsers}}</td>
          <td>{{item.totalWeeklyActiveUsers}}</td>
          <td [ngStyle]="{'background-color': (item.totalMonthlyActiveUsers > item.uniquePaidBase) ? '#FFBABA' : ''}">{{item.totalMonthlyActiveUsers}}</td>
          <td>{{item.totalEngageBase}}</td>
          <td>{{item.engagementRate}}</td>
          <td>{{item.engageTime}}</td>
          <td>{{item.totalGamePlayed}}</td>
          <td>{{item.gamePlayRate}}</td>
          <td [ngStyle]="{'background-color': (item.totalDailyActiveUsers > item.uniquePlayers) ? '#FFBABA' : ''}">{{item.uniquePlayers}}</td>
          <td>{{item.totalTournaments}}</td>

          
          <td><button class="btn btn-outline-secondary">Edit</button></td>
          
        </tr>
        
        
      </tbody>
    </table>
    <div class="row">
      <div class="col-xs-12 col-12">
        <pagination [totalItems]="data.totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</div>

 

